{
  "openapi": "3.0.3",
  "info": {
    "title": "Layerbrain API",
    "description": "The Layerbrain API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.layerbrain.com",
      "description": "Production"
    }
  ],
  "paths": {
    "/v1/accounts/": {
      "get": {
        "summary": "Get current user's account.",
        "description": "Get current user's account.",
        "operationId": "accounts_list_get",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "list"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "url": {
                      "type": "string",
                      "example": "/v1/accounts"
                    }
                  },
                  "required": [
                    "object",
                    "data",
                    "has_more",
                    "url"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of items per page",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10,
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "ordering",
            "in": "query",
            "description": "Field to order by",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/accounts/{id}": {
      "delete": {
        "summary": "Handles DELETE requests to delete account with cascading cleanup.",
        "description": "Handles DELETE requests to delete account with cascading cleanup.",
        "operationId": "accounts_destroy_delete",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "object": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Path parameter: id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "get": {
        "summary": "Handles GET requests to retrieve account info.",
        "description": "Handles GET requests to retrieve account info.",
        "operationId": "accounts_retrieve_get",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "object": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Path parameter: id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "patch": {
        "summary": "Handles PATCH requests to update account info.",
        "description": "Handles PATCH requests to update account info.",
        "operationId": "accounts_patch_patch",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "object": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Path parameter: id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Fields that can be updated on an account.",
                "minProperties": 1,
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Display name for the account."
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "Email address associated with the account."
                  },
                  "meta": {
                    "type": "object",
                    "description": "Account metadata merged into the stored account metadata payload.",
                    "properties": {
                      "preferences": {
                        "type": "object",
                        "description": "Flat account preferences map keyed by dot-notation paths.",
                        "additionalProperties": true
                      }
                    },
                    "additionalProperties": true
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/api-keys/": {
      "post": {
        "summary": "Post create",
        "description": "Operation provided by APIKeysAPI",
        "operationId": "api-keys_create_post",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "object": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "tags": [
          "Api-Keys"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Parameters for creating an API key.",
                "properties": {
                  "kind": {
                    "type": "string",
                    "enum": [
                      "publishable",
                      "secret"
                    ],
                    "description": "Type of credential to create."
                  },
                  "surface": {
                    "type": "string",
                    "enum": [
                      "primary",
                      "cli"
                    ],
                    "description": "Where the credential is intended to be used."
                  },
                  "name": {
                    "type": "string",
                    "description": "Human-readable name for the API key.",
                    "minLength": 1
                  },
                  "note": {
                    "type": "string",
                    "nullable": true,
                    "description": "Optional note describing how the API key is used."
                  }
                },
                "required": [
                  "kind"
                ]
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "get": {
        "summary": "Get list",
        "description": "Operation provided by APIKeysAPI",
        "operationId": "api-keys_list_get",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "list"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "url": {
                      "type": "string",
                      "example": "/v1/api-keys"
                    }
                  },
                  "required": [
                    "object",
                    "data",
                    "has_more",
                    "url"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "tags": [
          "Api-Keys"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of items per page",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10,
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "ordering",
            "in": "query",
            "description": "Field to order by",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/api-keys/{id}": {
      "delete": {
        "summary": "Delete destroy",
        "description": "Operation provided by APIKeysAPI",
        "operationId": "api-keys_destroy_delete",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "object": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "tags": [
          "Api-Keys"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Path parameter: id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "patch": {
        "summary": "Patch patch",
        "description": "Operation provided by APIKeysAPI",
        "operationId": "api-keys_patch_patch",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "object": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "tags": [
          "Api-Keys"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Path parameter: id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Mutable API key fields.",
                "minProperties": 1,
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Updated display name for the API key.",
                    "minLength": 1
                  },
                  "note": {
                    "type": "string",
                    "nullable": true,
                    "description": "Updated note for the API key. Set to `null` to clear it."
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "get": {
        "summary": "Get retrieve",
        "description": "Operation provided by APIKeysAPI",
        "operationId": "api-keys_retrieve_get",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "object": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "tags": [
          "Api-Keys"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Path parameter: id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/api-keys/{id}/rotate": {
      "post": {
        "summary": "Post rotate",
        "description": "Operation provided by APIKeysAPI",
        "operationId": "api-keys_rotate_post",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "object": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "tags": [
          "Api-Keys"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Path parameter: id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/audio/speech": {
      "post": {
        "summary": "Post create_speech",
        "description": "Operation provided by AudioAPI",
        "operationId": "audio_create_speech_post",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "object": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "tags": [
          "Audio"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/audio/transcriptions": {
      "post": {
        "summary": "Post create_transcription",
        "description": "Operation provided by AudioAPI",
        "operationId": "audio_create_transcription_post",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "object": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "tags": [
          "Audio"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/chat/completions": {
      "post": {
        "summary": "Create a chat completion",
        "description": "Operation provided by ChatAPI",
        "operationId": "chat_create_completion_post",
        "responses": {
          "200": {
            "description": "Chat completion response. Returns JSON for standard requests and server-sent events when `stream=true`.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Non-streaming chat completion response.",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Unique identifier for the completion."
                    },
                    "object": {
                      "type": "string",
                      "example": "chat.completion",
                      "description": "String representing the object's type."
                    },
                    "created": {
                      "type": "integer",
                      "description": "Unix timestamp in seconds when the completion was created."
                    },
                    "model": {
                      "type": "string",
                      "description": "Model used to generate the completion."
                    },
                    "choices": {
                      "type": "array",
                      "description": "List of generated completion choices.",
                      "items": {
                        "type": "object",
                        "description": "One completion choice returned by the model.",
                        "properties": {
                          "index": {
                            "type": "integer",
                            "description": "Zero-based index of this choice in the response."
                          },
                          "message": {
                            "type": "object",
                            "description": "Message generated by the assistant.",
                            "properties": {
                              "role": {
                                "type": "string",
                                "description": "Role of the generated message author.",
                                "example": "assistant"
                              },
                              "content": {
                                "type": "string",
                                "description": "Text content generated by the assistant."
                              }
                            },
                            "required": [
                              "role",
                              "content"
                            ]
                          },
                          "finish_reason": {
                            "type": "string",
                            "nullable": true,
                            "description": "Reason the model stopped generating tokens."
                          }
                        },
                        "required": [
                          "index",
                          "message"
                        ]
                      }
                    },
                    "usage": {
                      "type": "object",
                      "description": "Token usage for the request.",
                      "properties": {
                        "prompt_tokens": {
                          "type": "integer",
                          "description": "Number of prompt tokens consumed by the request."
                        },
                        "completion_tokens": {
                          "type": "integer",
                          "description": "Number of tokens generated in the completion."
                        },
                        "total_tokens": {
                          "type": "integer",
                          "description": "Total tokens used across prompt and completion."
                        }
                      },
                      "required": [
                        "prompt_tokens",
                        "completion_tokens",
                        "total_tokens"
                      ]
                    }
                  },
                  "required": [
                    "id",
                    "object",
                    "model",
                    "choices"
                  ]
                }
              },
              "text/event-stream": {
                "schema": {
                  "type": "string",
                  "description": "Server-sent event stream of chat completion chunks.",
                  "example": "data: {\"choices\":[{\"delta\":{\"content\":\"Hello\"}}]}\n\ndata: [DONE]\n\n"
                }
              }
            }
          },
          "400": {
            "type": "object",
            "description": "Error response payload.",
            "properties": {
              "error": {
                "type": "object",
                "description": "Error details for the failed request.",
                "properties": {
                  "type": {
                    "type": "string",
                    "description": "Machine-readable error type."
                  },
                  "message": {
                    "type": "string",
                    "description": "Human-readable description of the error."
                  }
                },
                "required": [
                  "type",
                  "message"
                ]
              }
            },
            "required": [
              "error"
            ]
          },
          "401": {
            "type": "object",
            "description": "Error response payload.",
            "properties": {
              "error": {
                "type": "object",
                "description": "Error details for the failed request.",
                "properties": {
                  "type": {
                    "type": "string",
                    "description": "Machine-readable error type."
                  },
                  "message": {
                    "type": "string",
                    "description": "Human-readable description of the error."
                  }
                },
                "required": [
                  "type",
                  "message"
                ]
              }
            },
            "required": [
              "error"
            ]
          },
          "403": {
            "type": "object",
            "description": "Error response payload.",
            "properties": {
              "error": {
                "type": "object",
                "description": "Error details for the failed request.",
                "properties": {
                  "type": {
                    "type": "string",
                    "description": "Machine-readable error type."
                  },
                  "message": {
                    "type": "string",
                    "description": "Human-readable description of the error."
                  }
                },
                "required": [
                  "type",
                  "message"
                ]
              }
            },
            "required": [
              "error"
            ]
          }
        },
        "tags": [
          "Chat"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Parameters for creating a chat completion.",
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "Identifier of the model to use for the completion.",
                    "example": "openai/gpt-4o"
                  },
                  "messages": {
                    "type": "array",
                    "description": "Conversation history in chronological order.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "role": {
                          "type": "string",
                          "enum": [
                            "system",
                            "user",
                            "assistant",
                            "tool"
                          ],
                          "description": "Role of the author of this message."
                        },
                        "content": {
                          "type": "string",
                          "description": "Text content for the message."
                        }
                      },
                      "required": [
                        "role",
                        "content"
                      ]
                    }
                  },
                  "stream": {
                    "type": "boolean",
                    "default": false,
                    "description": "If true, the response is streamed as server-sent events."
                  },
                  "temperature": {
                    "type": "number",
                    "description": "Sampling temperature to use for generation.",
                    "minimum": 0,
                    "maximum": 2,
                    "default": 1
                  },
                  "max_tokens": {
                    "type": "integer",
                    "description": "Maximum number of tokens to generate in the completion.",
                    "minimum": 1
                  },
                  "top_p": {
                    "type": "number",
                    "description": "Nucleus sampling value used as an alternative to temperature.",
                    "minimum": 0,
                    "maximum": 1
                  },
                  "stop": {
                    "description": "Sequence or sequences that cause generation to stop when encountered.",
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    ]
                  },
                  "frequency_penalty": {
                    "type": "number",
                    "description": "Penalty applied to tokens based on how often they already appear in the text.",
                    "minimum": -2,
                    "maximum": 2
                  },
                  "presence_penalty": {
                    "type": "number",
                    "description": "Penalty applied to tokens based on whether they already appear in the text.",
                    "minimum": -2,
                    "maximum": 2
                  },
                  "meta": {
                    "type": "object",
                    "description": "Set of key-value pairs that you can attach to the request for your own bookkeeping.",
                    "additionalProperties": true
                  }
                },
                "required": [
                  "model",
                  "messages"
                ]
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/brains/": {
      "post": {
        "summary": "Create a new brain resource.",
        "description": "Create a new brain resource.\n\n        Request body:\n        {\n            \"environment\": \"CLI\"  # optional, \"CLI\" or \"CUA\"\n        }\n\n        Returns brain resource.\n        ",
        "operationId": "brains_create_brain_post",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "object": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "tags": [
          "Brains"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Parameters for creating a brain session.",
                "properties": {
                  "environment": {
                    "type": "string",
                    "enum": [
                      "CLI",
                      "CUA"
                    ],
                    "default": "CLI",
                    "description": "Brain runtime environment."
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "big",
                      "small"
                    ],
                    "default": "small",
                    "description": "Brain form factor. `small` is the current session brain path."
                  },
                  "config": {
                    "type": "object",
                    "description": "Brain runtime configuration overrides.",
                    "properties": {
                      "model": {
                        "type": "string",
                        "description": "Runtime model identifier for the selected brain environment."
                      },
                      "mode": {
                        "type": "string",
                        "enum": [
                          "auto",
                          "ask",
                          "manual"
                        ],
                        "default": "ask",
                        "description": "Permission mode used by the brain runtime."
                      },
                      "max_cycles": {
                        "type": "integer",
                        "minimum": 0,
                        "description": "Maximum number of execution cycles before the brain stops itself."
                      },
                      "neuron_policy": {
                        "type": "object",
                        "description": "Optional denylist policy that blocks matching neuron key prefixes.",
                        "properties": {
                          "mode": {
                            "type": "string",
                            "enum": [
                              "denylist"
                            ],
                            "description": "Neuron policy mode. Only `denylist` is currently supported."
                          },
                          "denied_prefixes": {
                            "type": "array",
                            "description": "Neuron key prefixes that should be blocked for this brain.",
                            "items": {
                              "type": "string"
                            }
                          }
                        },
                        "required": [
                          "mode",
                          "denied_prefixes"
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "Get list_brains",
        "description": "Operation provided by BrainsAPI",
        "operationId": "brains_list_brains_get",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "list"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "url": {
                      "type": "string",
                      "example": "/v1/brains"
                    }
                  },
                  "required": [
                    "object",
                    "data",
                    "has_more",
                    "url"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "tags": [
          "Brains"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of items per page",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10,
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "ordering",
            "in": "query",
            "description": "Field to order by",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/brains/{id}": {
      "delete": {
        "summary": "Delete delete_brain",
        "description": "Operation provided by BrainsAPI",
        "operationId": "brains_delete_brain_delete",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "object": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "tags": [
          "Brains"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Path parameter: id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "get": {
        "summary": "Get retrieve_brain",
        "description": "Operation provided by BrainsAPI",
        "operationId": "brains_retrieve_brain_get",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "object": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "tags": [
          "Brains"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Path parameter: id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/brains/{id}/archive": {
      "post": {
        "summary": "Post archive_brain",
        "description": "Operation provided by BrainsAPI",
        "operationId": "brains_archive_brain_post",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "object": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "tags": [
          "Brains"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Path parameter: id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/embeddings/": {
      "post": {
        "summary": "Post create_embedding",
        "description": "Operation provided by EmbeddingsAPI",
        "operationId": "embeddings_create_embedding_post",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "object": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "tags": [
          "Embeddings"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/exports/": {
      "post": {
        "summary": "Post create",
        "description": "Operation provided by ExportsAPI",
        "operationId": "exports_create_post",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "object": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "tags": [
          "Exports"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "get": {
        "summary": "Get list",
        "description": "Operation provided by ExportsAPI",
        "operationId": "exports_list_get",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "list"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "url": {
                      "type": "string",
                      "example": "/v1/exports"
                    }
                  },
                  "required": [
                    "object",
                    "data",
                    "has_more",
                    "url"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "tags": [
          "Exports"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of items per page",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10,
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "ordering",
            "in": "query",
            "description": "Field to order by",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/exports/{id}/download": {
      "get": {
        "summary": "Get download",
        "description": "Operation provided by ExportsAPI",
        "operationId": "exports_download_get",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "object": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "tags": [
          "Exports"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Path parameter: id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/events/": {
      "get": {
        "summary": "Get list",
        "description": "Operation provided by EventsAPI",
        "operationId": "events_list_get",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "list"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "url": {
                      "type": "string",
                      "example": "/v1/events"
                    }
                  },
                  "required": [
                    "object",
                    "data",
                    "has_more",
                    "url"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "tags": [
          "Events"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of items per page",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10,
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "ordering",
            "in": "query",
            "description": "Field to order by",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/events/{id}": {
      "get": {
        "summary": "Get retrieve",
        "description": "Operation provided by EventsAPI",
        "operationId": "events_retrieve_get",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "object": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "tags": [
          "Events"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Path parameter: id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/images/edits": {
      "post": {
        "summary": "Edit images",
        "description": "Operation provided by ImagesAPI",
        "operationId": "images_create_edit_post",
        "responses": {
          "201": {
            "description": "Image edit completed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "image.edit"
                    },
                    "id": {
                      "type": "string"
                    },
                    "model": {
                      "type": "string"
                    },
                    "timing": {
                      "type": "object"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "One generated image result.",
                        "properties": {
                          "url": {
                            "type": "string",
                            "format": "uri",
                            "description": "URL where the generated image can be retrieved."
                          },
                          "b64_json": {
                            "type": "string",
                            "description": "Base64-encoded image data when the provider returns inline content."
                          },
                          "storage": {
                            "type": "object",
                            "description": "Persisted storage location for the promoted asset.",
                            "properties": {
                              "bucket_id": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "key": {
                                "type": "string"
                              },
                              "path": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "key"
                            ]
                          },
                          "content_type": {
                            "type": "string",
                            "description": "Detected content type for the stored asset."
                          },
                          "size_bytes": {
                            "type": "integer",
                            "description": "Stored asset size in bytes."
                          },
                          "asset_id": {
                            "type": "string",
                            "description": "Layerbrain asset identifier for the promoted object."
                          },
                          "timing": {
                            "type": "object",
                            "description": "Provider timing metadata when available."
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "object",
                    "id",
                    "model",
                    "data"
                  ]
                }
              }
            }
          },
          "409": {
            "type": "object",
            "description": "Error response payload.",
            "properties": {
              "error": {
                "type": "object",
                "description": "Error details for the failed request.",
                "properties": {
                  "type": {
                    "type": "string",
                    "description": "Machine-readable error type."
                  },
                  "message": {
                    "type": "string",
                    "description": "Human-readable description of the error."
                  }
                },
                "required": [
                  "type",
                  "message"
                ]
              }
            },
            "required": [
              "error"
            ]
          },
          "400": {
            "type": "object",
            "description": "Error response payload.",
            "properties": {
              "error": {
                "type": "object",
                "description": "Error details for the failed request.",
                "properties": {
                  "type": {
                    "type": "string",
                    "description": "Machine-readable error type."
                  },
                  "message": {
                    "type": "string",
                    "description": "Human-readable description of the error."
                  }
                },
                "required": [
                  "type",
                  "message"
                ]
              }
            },
            "required": [
              "error"
            ]
          },
          "401": {
            "type": "object",
            "description": "Error response payload.",
            "properties": {
              "error": {
                "type": "object",
                "description": "Error details for the failed request.",
                "properties": {
                  "type": {
                    "type": "string",
                    "description": "Machine-readable error type."
                  },
                  "message": {
                    "type": "string",
                    "description": "Human-readable description of the error."
                  }
                },
                "required": [
                  "type",
                  "message"
                ]
              }
            },
            "required": [
              "error"
            ]
          }
        },
        "tags": [
          "Images"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Image edit request.",
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "Canonical model ID."
                  },
                  "prompt": {
                    "type": "string",
                    "description": "Text prompt describing the desired image."
                  },
                  "negative_prompt": {
                    "type": "string",
                    "description": "Text describing what to avoid in the image."
                  },
                  "count": {
                    "type": "integer",
                    "description": "Number of images to generate.",
                    "default": 1
                  },
                  "width": {
                    "type": "integer",
                    "description": "Image width in pixels."
                  },
                  "height": {
                    "type": "integer",
                    "description": "Image height in pixels."
                  },
                  "aspect_ratio": {
                    "type": "string",
                    "description": "Aspect ratio (e.g. '16:9', '1:1')."
                  },
                  "size": {
                    "type": "string",
                    "description": "Size preset (e.g. '1024x1024')."
                  },
                  "seed": {
                    "type": "integer",
                    "description": "Deterministic seed for reproducible results."
                  },
                  "steps": {
                    "type": "integer",
                    "description": "Number of inference steps."
                  },
                  "guidance_scale": {
                    "type": "number",
                    "description": "Classifier-free guidance scale."
                  },
                  "style": {
                    "type": "string",
                    "description": "Style preset."
                  },
                  "output_format": {
                    "type": "string",
                    "description": "Output format (png, jpeg, webp)."
                  },
                  "output_quality": {
                    "type": "integer",
                    "description": "Output quality (1-100)."
                  },
                  "safety_tolerance": {
                    "type": "integer",
                    "description": "Safety filter tolerance."
                  },
                  "image": {
                    "type": "string",
                    "description": "Source image URI for edits/variations."
                  },
                  "mask": {
                    "type": "string",
                    "description": "Mask image URI for inpainting."
                  },
                  "strength": {
                    "type": "number",
                    "description": "Transformation strength (0-1)."
                  },
                  "output": {
                    "type": "object",
                    "description": "Optional explicit output naming for persisted assets.",
                    "properties": {
                      "directory": {
                        "type": "string",
                        "description": "Bucket-root-relative directory where generated assets should be stored."
                      },
                      "name": {
                        "type": "string",
                        "description": "Base file name stem. The system derives the final extension."
                      }
                    }
                  },
                  "meta": {
                    "type": "object",
                    "description": "Set of key-value pairs that you can attach to the request for your own bookkeeping.",
                    "additionalProperties": true
                  }
                },
                "required": [
                  "model"
                ]
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/images/generations": {
      "post": {
        "summary": "Generate images",
        "description": "Operation provided by ImagesAPI",
        "operationId": "images_create_generation_post",
        "responses": {
          "201": {
            "description": "Image generation completed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "image.generation"
                    },
                    "id": {
                      "type": "string"
                    },
                    "model": {
                      "type": "string"
                    },
                    "timing": {
                      "type": "object"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "One generated image result.",
                        "properties": {
                          "url": {
                            "type": "string",
                            "format": "uri",
                            "description": "URL where the generated image can be retrieved."
                          },
                          "b64_json": {
                            "type": "string",
                            "description": "Base64-encoded image data when the provider returns inline content."
                          },
                          "storage": {
                            "type": "object",
                            "description": "Persisted storage location for the promoted asset.",
                            "properties": {
                              "bucket_id": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "key": {
                                "type": "string"
                              },
                              "path": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "key"
                            ]
                          },
                          "content_type": {
                            "type": "string",
                            "description": "Detected content type for the stored asset."
                          },
                          "size_bytes": {
                            "type": "integer",
                            "description": "Stored asset size in bytes."
                          },
                          "asset_id": {
                            "type": "string",
                            "description": "Layerbrain asset identifier for the promoted object."
                          },
                          "timing": {
                            "type": "object",
                            "description": "Provider timing metadata when available."
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "object",
                    "id",
                    "model",
                    "data"
                  ]
                }
              }
            }
          },
          "409": {
            "type": "object",
            "description": "Error response payload.",
            "properties": {
              "error": {
                "type": "object",
                "description": "Error details for the failed request.",
                "properties": {
                  "type": {
                    "type": "string",
                    "description": "Machine-readable error type."
                  },
                  "message": {
                    "type": "string",
                    "description": "Human-readable description of the error."
                  }
                },
                "required": [
                  "type",
                  "message"
                ]
              }
            },
            "required": [
              "error"
            ]
          },
          "400": {
            "type": "object",
            "description": "Error response payload.",
            "properties": {
              "error": {
                "type": "object",
                "description": "Error details for the failed request.",
                "properties": {
                  "type": {
                    "type": "string",
                    "description": "Machine-readable error type."
                  },
                  "message": {
                    "type": "string",
                    "description": "Human-readable description of the error."
                  }
                },
                "required": [
                  "type",
                  "message"
                ]
              }
            },
            "required": [
              "error"
            ]
          },
          "401": {
            "type": "object",
            "description": "Error response payload.",
            "properties": {
              "error": {
                "type": "object",
                "description": "Error details for the failed request.",
                "properties": {
                  "type": {
                    "type": "string",
                    "description": "Machine-readable error type."
                  },
                  "message": {
                    "type": "string",
                    "description": "Human-readable description of the error."
                  }
                },
                "required": [
                  "type",
                  "message"
                ]
              }
            },
            "required": [
              "error"
            ]
          }
        },
        "tags": [
          "Images"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Image generation request.",
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "Canonical model ID."
                  },
                  "prompt": {
                    "type": "string",
                    "description": "Text prompt describing the desired image."
                  },
                  "negative_prompt": {
                    "type": "string",
                    "description": "Text describing what to avoid in the image."
                  },
                  "count": {
                    "type": "integer",
                    "description": "Number of images to generate.",
                    "default": 1
                  },
                  "width": {
                    "type": "integer",
                    "description": "Image width in pixels."
                  },
                  "height": {
                    "type": "integer",
                    "description": "Image height in pixels."
                  },
                  "aspect_ratio": {
                    "type": "string",
                    "description": "Aspect ratio (e.g. '16:9', '1:1')."
                  },
                  "size": {
                    "type": "string",
                    "description": "Size preset (e.g. '1024x1024')."
                  },
                  "seed": {
                    "type": "integer",
                    "description": "Deterministic seed for reproducible results."
                  },
                  "steps": {
                    "type": "integer",
                    "description": "Number of inference steps."
                  },
                  "guidance_scale": {
                    "type": "number",
                    "description": "Classifier-free guidance scale."
                  },
                  "style": {
                    "type": "string",
                    "description": "Style preset."
                  },
                  "output_format": {
                    "type": "string",
                    "description": "Output format (png, jpeg, webp)."
                  },
                  "output_quality": {
                    "type": "integer",
                    "description": "Output quality (1-100)."
                  },
                  "safety_tolerance": {
                    "type": "integer",
                    "description": "Safety filter tolerance."
                  },
                  "image": {
                    "type": "string",
                    "description": "Source image URI for edits/variations."
                  },
                  "mask": {
                    "type": "string",
                    "description": "Mask image URI for inpainting."
                  },
                  "strength": {
                    "type": "number",
                    "description": "Transformation strength (0-1)."
                  },
                  "output": {
                    "type": "object",
                    "description": "Optional explicit output naming for persisted assets.",
                    "properties": {
                      "directory": {
                        "type": "string",
                        "description": "Bucket-root-relative directory where generated assets should be stored."
                      },
                      "name": {
                        "type": "string",
                        "description": "Base file name stem. The system derives the final extension."
                      }
                    }
                  },
                  "meta": {
                    "type": "object",
                    "description": "Set of key-value pairs that you can attach to the request for your own bookkeeping.",
                    "additionalProperties": true
                  }
                },
                "required": [
                  "model",
                  "prompt"
                ]
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/machines/": {
      "post": {
        "summary": "Post create_machine",
        "description": "Operation provided by MachinesAPI",
        "operationId": "machines_create_machine_post",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "object": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "tags": [
          "Machines"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "get": {
        "summary": "Get list_machines",
        "description": "Operation provided by MachinesAPI",
        "operationId": "machines_list_machines_get",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "list"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "url": {
                      "type": "string",
                      "example": "/v1/machines"
                    }
                  },
                  "required": [
                    "object",
                    "data",
                    "has_more",
                    "url"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "tags": [
          "Machines"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of items per page",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10,
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "ordering",
            "in": "query",
            "description": "Field to order by",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/machines/{machine_id}": {
      "delete": {
        "summary": "Delete delete_machine",
        "description": "Operation provided by MachinesAPI",
        "operationId": "machines_delete_machine_delete",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "object": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "tags": [
          "Machines"
        ],
        "parameters": [
          {
            "name": "machine_id",
            "in": "path",
            "description": "Path parameter: machine_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "get": {
        "summary": "Get retrieve_machine",
        "description": "Operation provided by MachinesAPI",
        "operationId": "machines_retrieve_machine_get",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "object": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "tags": [
          "Machines"
        ],
        "parameters": [
          {
            "name": "machine_id",
            "in": "path",
            "description": "Path parameter: machine_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "x-layerbrain-websocket": {
        "operationId": "machines_connect_websocket",
        "summary": "Websocket operation",
        "description": "Operation provided by MachinesAPI",
        "tags": [
          "Machines"
        ],
        "parameters": [],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/machines/{machine_id}/extend": {
      "post": {
        "summary": "Post extend_machine",
        "description": "Operation provided by MachinesAPI",
        "operationId": "machines_extend_machine_post",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "object": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "tags": [
          "Machines"
        ],
        "parameters": [
          {
            "name": "machine_id",
            "in": "path",
            "description": "Path parameter: machine_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/machines/{machine_id}/restore": {
      "post": {
        "summary": "Post restore_machine",
        "description": "Operation provided by MachinesAPI",
        "operationId": "machines_restore_machine_post",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "object": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "tags": [
          "Machines"
        ],
        "parameters": [
          {
            "name": "machine_id",
            "in": "path",
            "description": "Path parameter: machine_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/machines/{machine_id}/snapshot": {
      "post": {
        "summary": "Post snapshot_machine",
[...]
