{
  "openapi": "3.0.3",
  "info": {
    "title": "Layerbrain API",
    "description": "The Layerbrain API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.layerbrain.com",
      "description": "Production"
    }
  ],
  "paths": {
    "/v1/accounts/": {
      "get": {
        "summary": "Retrieve the current account",
        "description": "Get current user's account.",
        "operationId": "accounts_list_get",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "list"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "url": {
                      "type": "string",
                      "example": "/v1/accounts"
                    }
                  },
                  "required": [
                    "object",
                    "data",
                    "has_more",
                    "url"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of items per page",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10,
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "ordering",
            "in": "query",
            "description": "Field to order by",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/accounts/{id}": {
      "delete": {
        "summary": "Delete an account",
        "description": "Handles DELETE requests to delete account with cascading cleanup.",
        "operationId": "accounts_destroy_delete",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "object": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Path parameter: id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "get": {
        "summary": "Retrieve an account",
        "description": "Handles GET requests to retrieve account info.",
        "operationId": "accounts_retrieve_get",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "object": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Path parameter: id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "patch": {
        "summary": "Update an account",
        "description": "Handles PATCH requests to update account info.",
        "operationId": "accounts_patch_patch",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "object": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Path parameter: id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Fields that can be updated on an account.",
                "minProperties": 1,
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Display name for the account."
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "Email address associated with the account."
                  },
                  "meta": {
                    "type": "object",
                    "description": "Account metadata merged into the stored account metadata payload.",
                    "properties": {
                      "preferences": {
                        "type": "object",
                        "description": "Flat account preferences map keyed by dot-notation paths.",
                        "additionalProperties": true
                      }
                    },
                    "additionalProperties": true
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/api-keys/": {
      "post": {
        "summary": "Create an API key",
        "operationId": "api-keys_create_post",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "object": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "tags": [
          "Api-Keys"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Parameters for creating an API key.",
                "properties": {
                  "kind": {
                    "type": "string",
                    "enum": [
                      "publishable",
                      "secret"
                    ],
                    "description": "Type of credential to create."
                  },
                  "surface": {
                    "type": "string",
                    "enum": [
                      "primary",
                      "cli"
                    ],
                    "description": "Where the credential is intended to be used."
                  },
                  "name": {
                    "type": "string",
                    "description": "Human-readable name for the API key.",
                    "minLength": 1
                  },
                  "note": {
                    "type": "string",
                    "nullable": true,
                    "description": "Optional note describing how the API key is used."
                  }
                },
                "required": [
                  "kind"
                ]
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "get": {
        "summary": "List API keys",
        "operationId": "api-keys_list_get",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "list"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "url": {
                      "type": "string",
                      "example": "/v1/api-keys"
                    }
                  },
                  "required": [
                    "object",
                    "data",
                    "has_more",
                    "url"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "tags": [
          "Api-Keys"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of items per page",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10,
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "ordering",
            "in": "query",
            "description": "Field to order by",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/api-keys/{id}": {
      "delete": {
        "summary": "Delete an API key",
        "operationId": "api-keys_destroy_delete",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "object": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "tags": [
          "Api-Keys"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Path parameter: id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "patch": {
        "summary": "Update an API key",
        "operationId": "api-keys_patch_patch",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "object": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "tags": [
          "Api-Keys"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Path parameter: id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Mutable API key fields.",
                "minProperties": 1,
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Updated display name for the API key.",
                    "minLength": 1
                  },
                  "note": {
                    "type": "string",
                    "nullable": true,
                    "description": "Updated note for the API key. Set to `null` to clear it."
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "get": {
        "summary": "Retrieve an API key",
        "operationId": "api-keys_retrieve_get",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "object": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "tags": [
          "Api-Keys"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Path parameter: id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/api-keys/{id}/rotate": {
      "post": {
        "summary": "Rotate an API key",
        "operationId": "api-keys_rotate_post",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "object": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "tags": [
          "Api-Keys"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Path parameter: id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/exports/": {
      "post": {
        "summary": "Create a data export",
        "operationId": "exports_create_post",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "object": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "tags": [
          "Exports"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "get": {
        "summary": "List data exports",
        "operationId": "exports_list_get",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "list"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "url": {
                      "type": "string",
                      "example": "/v1/exports"
                    }
                  },
                  "required": [
                    "object",
                    "data",
                    "has_more",
                    "url"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "tags": [
          "Exports"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of items per page",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10,
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "ordering",
            "in": "query",
            "description": "Field to order by",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/exports/{id}/download": {
      "get": {
        "summary": "Create an export download URL",
        "operationId": "exports_download_get",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "object": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "tags": [
          "Exports"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Path parameter: id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/events/": {
      "post": {
        "summary": "Create an organization event",
        "operationId": "events_create_post",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "object": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "tags": [
          "Events"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Event emitted by a caller into the authenticated organization's event stream.",
                "properties": {
                  "event": {
                    "type": "string",
                    "description": "Event name, e.g. user.signed_up or Machine Started."
                  },
                  "properties": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Event properties, equivalent to Segment properties or PostHog properties."
                  },
                  "context": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Caller/environment context such as page, library, IP metadata, or app version."
                  },
                  "resource": {
                    "type": "object",
                    "properties": {
                      "object": {
                        "type": "string"
                      },
                      "id": {
                        "type": "string"
                      }
                    },
                    "description": "Optional Layerbrain resource reference."
                  },
                  "timestamp": {
                    "type": "string",
                    "description": "Optional ISO-8601 event timestamp."
                  },
                  "messageId": {
                    "type": "string",
                    "description": "Caller-provided idempotency/correlation id."
                  },
                  "userId": {
                    "type": "string"
                  },
                  "anonymousId": {
                    "type": "string"
                  },
                  "groupId": {
                    "type": "string"
                  }
                },
                "required": [
                  "event"
                ]
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "get": {
        "summary": "List organization events",
        "operationId": "events_list_get",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "list"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "url": {
                      "type": "string",
                      "example": "/v1/events"
                    }
                  },
                  "required": [
                    "object",
                    "data",
                    "has_more",
                    "url"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "tags": [
          "Events"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of items per page",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10,
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "ordering",
            "in": "query",
            "description": "Field to order by",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/events/types": {
      "get": {
        "summary": "List event types",
        "operationId": "events_types_get",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "object": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "tags": [
          "Events"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/events/{id}": {
      "get": {
        "summary": "Retrieve an event",
        "operationId": "events_retrieve_get",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "object": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "tags": [
          "Events"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Path parameter: id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/machines/": {
      "post": {
        "summary": "Create a machine",
        "operationId": "machines_create_machine_post",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "object": {
                      "type": "string",
                      "example": "machine"
                    },
                    "organization": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string",
                      "enum": [
                        "sandbox",
                        "gpu",
                        "byo"
                      ]
                    },
                    "state": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "region": {
                      "type": "string",
                      "nullable": true
                    },
                    "data": {
                      "type": "object",
                      "additionalProperties": true,
                      "properties": {
                        "public_ipv6": {
                          "type": "string",
                          "format": "ipv6",
                          "nullable": true,
                          "description": "The public IPv6 address assigned to the sandbox."
                        },
                        "private_ipv4": {
                          "type": "string",
                          "format": "ipv4",
                          "nullable": true,
                          "description": "The private IPv4 address inside the host network."
                        },
                        "ssh_public_key": {
                          "type": "string",
                          "nullable": true
                        }
                      }
                    },
                    "secret": {
                      "nullable": true,
                      "oneOf": [
                        {
                          "type": "string",
                          "description": "Secret id containing the machine SSH private key."
                        },
                        {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "object": {
                              "type": "string",
                              "example": "secret"
                            },
                            "name": {
                              "type": "string"
                            },
                            "organization": {
                              "type": "string"
                            },
                            "machine": {
                              "type": "string"
                            },
                            "value": {
                              "type": "string",
                              "description": "Masked by default. Present as a private key only when a create/reveal response explicitly returns it."
                            },
                            "data": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "meta": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "created": {
                              "type": "string",
                              "format": "date-time",
                              "nullable": true
                            },
                            "modified": {
                              "type": "string",
                              "format": "date-time",
                              "nullable": true
                            }
                          },
                          "additionalProperties": true
                        }
                      ]
                    },
                    "created": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    },
                    "modified": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    },
                    "image": {
                      "type": "string",
                      "nullable": true
                    },
                    "cpu": {
                      "type": "integer",
                      "nullable": true
                    },
                    "ram": {
                      "type": "integer",
                      "nullable": true,
                      "description": "Memory in GB."
                    },
                    "disk": {
                      "type": "integer",
                      "nullable": true,
                      "description": "Disk in GB."
                    },
                    "hostname": {
                      "type": "string",
                      "nullable": true
                    },
                    "public_address": {
                      "type": "string",
                      "format": "ipv6",
                      "nullable": true,
                      "description": "The public IPv6 address for direct network access."
                    },
                    "ssh_host": {
                      "type": "string",
                      "nullable": true
                    },
                    "ssh_port": {
                      "type": "integer",
                      "minimum": 1,
                      "maximum": 65535
                    },
                    "ssh_uri": {
                      "type": "string",
                      "nullable": true,
                      "example": "root@mch-abc.layerbrain.cloud"
                    },
                    "ssh_key": {
                      "type": "string",
                      "nullable": true,
                      "description": "Private SSH key returned only when explicitly revealed."
                    },
                    "networks": {
                      "type": "array",
                      "items": {
                        "oneOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "object": {
                                "type": "string",
                                "example": "network"
                              },
                              "ports": {
                                "type": "array",
                                "items": {
                                  "type": "object"
                                }
                              }
                            },
                            "additionalProperties": true
                          }
                        ]
                      }
                    },
                    "gpu": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "label": {
                          "type": "string",
                          "nullable": true
                        },
                        "model": {
                          "type": "string",
                          "nullable": true
                        },
                        "count": {
                          "type": "integer",
                          "nullable": true
                        },
                        "memory_gb": {
                          "type": "integer",
                          "nullable": true
                        }
                      },
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "id",
                    "object",
                    "organization",
                    "type",
                    "state",
                    "name",
                    "created",
                    "modified"
                  ],
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "tags": [
          "Machines"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Create a sandbox from the warm pool or claim a warm GPU bundle.",
                "example": {
                  "name": "build-runner",
                  "cpu": 2,
                  "ram": 4,
                  "disk": 20,
                  "ttl_minutes": 60
                },
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "cpu": {
                    "type": "integer",
                    "minimum": 1,
                    "default": 1
                  },
                  "ram": {
                    "type": "integer",
                    "minimum": 1,
                    "default": 1,
                    "description": "Memory in GB."
                  },
                  "disk": {
                    "type": "integer",
                    "minimum": 1,
                    "default": 10
                  },
                  "region": {
                    "type": "string"
                  },
                  "networks": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "network": {
                          "type": "string"
                        },
                        "ports": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "protocol": {
                                "type": "string",
                                "enum": [
                                  "http",
                                  "tcp",
                                  "udp"
                                ]
                              },
                              "port": {
                                "type": "integer",
                                "minimum": 1
                              },
                              "public": {
                                "type": "boolean"
                              }
                            },
                            "required": [
                              "protocol",
                              "port"
                            ],
                            "additionalProperties": false
                          }
                        }
                      },
                      "required": [
                        "network"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "ttl_minutes": {
                    "type": "integer",
                    "minimum": 1
                  },
                  "gpu": {
                    "oneOf": [
                      {
                        "type": "string",
                        "description": "Bundle shorthand, for example h100x8."
                      },
                      {
                        "type": "object",
                        "properties": {
                          "model": {
                            "type": "string"
                          },
                          "bundle": {
                            "type": "string"
                          },
                          "memory_gb": {
                            "type": "integer",
                            "minimum": 1
                          }
                        },
                        "required": [
                          "model",
                          "bundle"
                        ],
                        "additionalProperties": false
                      }
                    ]
                  },
                  "data": {
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "get": {
        "summary": "List machines",
        "operationId": "machines_list_machines_get",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "list"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "object": {
                            "type": "string",
                            "example": "machine"
                          },
                          "organization": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "sandbox",
                              "gpu",
                              "byo"
                            ]
                          },
                          "state": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "region": {
                            "type": "string",
                            "nullable": true
                          },
                          "data": {
                            "type": "object",
                            "additionalProperties": true,
                            "properties": {
                              "public_ipv6": {
                                "type": "string",
                                "format": "ipv6",
                                "nullable": true,
                                "description": "The public IPv6 address assigned to the sandbox."
                              },
                              "private_ipv4": {
                                "type": "string",
                                "format": "ipv4",
                                "nullable": true,
                                "description": "The private IPv4 address inside the host network."
                              },
                              "ssh_public_key": {
                                "type": "string",
                                "nullable": true
                              }
                            }
                          },
                          "secret": {
                            "nullable": true,
                            "oneOf": [
                              {
                                "type": "string",
                                "description": "Secret id containing the machine SSH private key."
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "object": {
                                    "type": "string",
                                    "example": "secret"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "organization": {
                                    "type": "string"
                                  },
                                  "machine": {
                                    "type": "string"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "Masked by default. Present as a private key only when a create/reveal response explicitly returns it."
                                  },
                                  "data": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "meta": {
                                    "type": "object",
                                    "additionalProperties": true
                                  },
                                  "created": {
                                    "type": "string",
                                    "format": "date-time",
                                    "nullable": true
                                  },
                                  "modified": {
                                    "type": "string",
                                    "format": "date-time",
                                    "nullable": true
                                  }
                                },
                                "additionalProperties": true
                              }
                            ]
                          },
                          "created": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                          },
                          "modified": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                          },
                          "image": {
                            "type": "string",
                            "nullable": true
                          },
                          "cpu": {
                            "type": "integer",
                            "nullable": true
                          },
                          "ram": {
                            "type": "integer",
                            "nullable": true,
                            "description": "Memory in GB."
                          },
                          "disk": {
                            "type": "integer",
                            "nullable": true,
                            "description": "Disk in GB."
                          },
                          "hostname": {
                            "type": "string",
                            "nullable": true
                          },
                          "public_address": {
                            "type": "string",
                            "format": "ipv6",
                            "nullable": true,
                            "description": "The public IPv6 address for direct network access."
                          },
                          "ssh_host": {
                            "type": "string",
                            "nullable": true
                          },
                          "ssh_port": {
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 65535
                          },
                          "ssh_uri": {
                            "type": "string",
                            "nullable": true,
                            "example": "root@mch-abc.layerbrain.cloud"
                          },
                          "ssh_key": {
                            "type": "string",
                            "nullable": true,
                            "description": "Private SSH key returned only when explicitly revealed."
                          },
                          "networks": {
                            "type": "array",
                            "items": {
                              "oneOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string"
                                    },
                                    "object": {
                                      "type": "string",
                                      "example": "network"
                                    },
                                    "ports": {
                                      "type": "array",
                                      "items": {
                                        "type": "object"
                                      }
                                    }
                                  },
                                  "additionalProperties": true
                                }
                              ]
                            }
                          },
                          "gpu": {
                            "type": "object",
                            "nullable": true,
                            "properties": {
                              "label": {
                                "type": "string",
                                "nullable": true
                              },
                              "model": {
                                "type": "string",
                                "nullable": true
                              },
                              "count": {
                                "type": "integer",
                                "nullable": true
                              },
                              "memory_gb": {
                                "type": "integer",
                                "nullable": true
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "required": [
                          "id",
                          "object",
                          "organization",
                          "type",
                          "state",
                          "name",
                          "created",
                          "modified"
                        ],
                        "additionalProperties": true
                      }
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "url": {
                      "type": "string",
                      "example": "/v1/machines"
                    }
                  },
                  "required": [
                    "object",
                    "data",
                    "has_more",
                    "url"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "tags": [
          "Machines"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of items per page",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10,
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "ordering",
            "in": "query",
            "description": "Field to order by",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "x-layerbrain-websocket": {
        "operationId": "machines_socket_websocket",
        "summary": "Websocket operation",
        "tags": [
          "Machines"
        ],
        "parameters": [],
        "security": []
      }
    },
    "/v1/machines/{id}": {
      "delete": {
        "summary": "Delete a machine",
        "operationId": "machines_delete_machine_delete",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "object": {
                      "type": "string",
                      "example": "machine"
                    },
                    "organization": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string",
                      "enum": [
                        "sandbox",
                        "gpu",
                        "byo"
                      ]
                    },
                    "state": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "region": {
                      "type": "string",
                      "nullable": true
                    },
                    "data": {
                      "type": "object",
                      "additionalProperties": true,
                      "properties": {
                        "public_ipv6": {
                          "type": "string",
                          "format": "ipv6",
                          "nullable": true,
                          "description": "The public IPv6 address assigned to the sandbox."
                        },
                        "private_ipv4": {
                          "type": "string",
                          "format": "ipv4",
                          "nullable": true,
                          "description": "The private IPv4 address inside the host network."
                        },
                        "ssh_public_key": {
                          "type": "string",
                          "nullable": true
                        }
                      }
                    },
                    "secret": {
                      "nullable": true,
                      "oneOf": [
                        {
                          "type": "string",
                          "description": "Secret id containing the machine SSH private key."
                        },
                        {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "object": {
                              "type": "string",
                              "example": "secret"
                            },
                            "name": {
                              "type": "string"
                            },
                            "organization": {
                              "type": "string"
                            },
                            "machine": {
                              "type": "string"
                            },
                            "value": {
                              "type": "string",
                              "description": "Masked by default. Present as a private key only when a create/reveal response explicitly returns it."
                            },
                            "data": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "meta": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "created": {
                              "type": "string",
                              "format": "date-time",
                              "nullable": true
                            },
                            "modified": {
                              "type": "string",
                              "format": "date-time",
                              "nullable": true
                            }
                          },
                          "additionalProperties": true
                        }
                      ]
                    },
                    "created": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    },
                    "modified": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    },
                    "image": {
                      "type": "string",
                      "nullable": true
                    },
                    "cpu": {
                      "type": "integer",
                      "nullable": true
                    },
                    "ram": {
                      "type": "integer",
                      "nullable": true,
                      "description": "Memory in GB."
                    },
                    "disk": {
                      "type": "integer",
                      "nullable": true,
                      "description": "Disk in GB."
                    },
                    "hostname": {
                      "type": "string",
                      "nullable": true
                    },
                    "public_address": {
                      "type": "string",
                      "format": "ipv6",
                      "nullable": true,
                      "description": "The public IPv6 address for direct network access."
                    },
                    "ssh_host": {
                      "type": "string",
                      "nullable": true
                    },
                    "ssh_port": {
                      "type": "integer",
                      "minimum": 1,
                      "maximum": 65535
                    },
                    "ssh_uri": {
                      "type": "string",
                      "nullable": true,
                      "example": "root@mch-abc.layerbrain.cloud"
                    },
                    "ssh_key": {
                      "type": "string",
                      "nullable": true,
                      "description": "Private SSH key returned only when explicitly revealed."
                    },
                    "networks": {
                      "type": "array",
                      "items": {
                        "oneOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "object": {
                                "type": "string",
                                "example": "network"
                              },
                              "ports": {
                                "type": "array",
                                "items": {
                                  "type": "object"
                                }
                              }
                            },
                            "additionalProperties": true
                          }
                        ]
                      }
                    },
                    "gpu": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "label": {
                          "type": "string",
                          "nullable": true
                        },
                        "model": {
                          "type": "string",
                          "nullable": true
                        },
                        "count": {
                          "type": "integer",
                          "nullable": true
                        },
                        "memory_gb": {
                          "type": "integer",
                          "nullable": true
                        }
                      },
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "id",
                    "object",
                    "organization",
                    "type",
                    "state",
                    "name",
                    "created",
                    "modified"
                  ],
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "tags": [
          "Machines"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Path parameter: id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "get": {
        "summary": "Retrieve a machine",
        "operationId": "machines_retrieve_machine_get",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "object": {
                      "type": "string",
                      "example": "machine"
                    },
                    "organization": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string",
                      "enum": [
                        "sandbox",
                        "gpu",
                        "byo"
                      ]
                    },
                    "state": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "region": {
                      "type": "string",
                      "nullable": true
                    },
                    "data": {
                      "type": "object",
                      "additionalProperties": true,
                      "properties": {
                        "public_ipv6": {
                          "type": "string",
                          "format": "ipv6",
                          "nullable": true,
                          "description": "The public IPv6 address assigned to the sandbox."
                        },
                        "private_ipv4": {
                          "type": "string",
                          "format": "ipv4",
                          "nullable": true,
                          "description": "The private IPv4 address inside the host network."
                        },
                        "ssh_public_key": {
                          "type": "string",
                          "nullable": true
                        }
                      }
                    },
                    "secret": {
                      "nullable": true,
                      "oneOf": [
                        {
                          "type": "string",
                          "description": "Secret id containing the machine SSH private key."
                        },
                        {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "object": {
                              "type": "string",
                              "example": "secret"
                            },
                            "name": {
                              "type": "string"
                            },
                            "organization": {
                              "type": "string"
                            },
                            "machine": {
                              "type": "string"
                            },
                            "value": {
                              "type": "string",
                              "description": "Masked by default. Present as a private key only when a create/reveal response explicitly returns it."
                            },
                            "data": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "meta": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "created": {
                              "type": "string",
                              "format": "date-time",
                              "nullable": true
                            },
                            "modified": {
                              "type": "string",
                              "format": "date-time",
                              "nullable": true
                            }
                          },
                          "additionalProperties": true
                        }
                      ]
                    },
                    "created": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    },
                    "modified": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    },
                    "image": {
                      "type": "string",
                      "nullable": true
                    },
                    "cpu": {
                      "type": "integer",
                      "nullable": true
                    },
                    "ram": {
                      "type": "integer",
                      "nullable": true,
                      "description": "Memory in GB."
                    },
                    "disk": {
                      "type": "integer",
                      "nullable": true,
                      "description": "Disk in GB."
                    },
                    "hostname": {
                      "type": "string",
                      "nullable": true
                    },
                    "public_address": {
                      "type": "string",
                      "format": "ipv6",
                      "nullable": true,
                      "description": "The public IPv6 address for direct network access."
                    },
                    "ssh_host": {
                      "type": "string",
                      "nullable": true
                    },
                    "ssh_port": {
                      "type": "integer",
                      "minimum": 1,
                      "maximum": 65535
                    },
                    "ssh_uri": {
                      "type": "string",
                      "nullable": true,
                      "example": "root@mch-abc.layerbrain.cloud"
                    },
                    "ssh_key": {
                      "type": "string",
                      "nullable": true,
                      "description": "Private SSH key returned only when explicitly revealed."
                    },
                    "networks": {
                      "type": "array",
                      "items": {
                        "oneOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "object": {
                                "type": "string",
                                "example": "network"
                              },
                              "ports": {
                                "type": "array",
                                "items": {
                                  "type": "object"
                                }
                              }
                            },
                            "additionalProperties": true
                          }
                        ]
                      }
                    },
                    "gpu": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "label": {
                          "type": "string",
                          "nullable": true
                        },
                        "model": {
                          "type": "string",
                          "nullable": true
                        },
                        "count": {
                          "type": "integer",
                          "nullable": true
                        },
                        "memory_gb": {
                          "type": "integer",
                          "nullable": true
                        }
                      },
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "id",
                    "object",
                    "organization",
                    "type",
                    "state",
                    "name",
                    "created",
                    "modified"
                  ],
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "tags": [
          "Machines"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Path parameter: id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "x-layerbrain-websocket": {
        "operationId": "machines_connect_websocket",
        "summary": "Websocket operation",
        "tags": [
          "Machines"
        ],
        "parameters": [],
        "security": []
      }
    },
    "/v1/machines/{id}/extend": {
      "post": {
        "summary": "Extend a machine TTL",
        "operationId": "machines_extend_machine_post",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "object": {
                      "type": "string",
                      "example": "machine"
                    },
                    "organization": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string",
                      "enum": [
                        "sandbox",
                        "gpu",
                        "byo"
                      ]
                    },
                    "state": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "region": {
                      "type": "string",
                      "nullable": true
                    },
                    "data": {
                      "type": "object",
                      "additionalProperties": true,
                      "properties": {
                        "public_ipv6": {
                          "type": "string",
                          "format": "ipv6",
                          "nullable": true,
                          "description": "The public IPv6 address assigned to the sandbox."
                        },
                        "private_ipv4": {
                          "type": "string",
                          "format": "ipv4",
                          "nullable": true,
                          "description": "The private IPv4 address inside the host network."
                        },
                        "ssh_public_key": {
                          "type": "string",
                          "nullable": true
                        }
                      }
                    },
                    "secret": {
                      "nullable": true,
                      "oneOf": [
                        {
                          "type": "string",
                          "description": "Secret id containing the machine SSH private key."
                        },
                        {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "object": {
                              "type": "string",
                              "example": "secret"
                            },
                            "name": {
                              "type": "string"
                            },
                            "organization": {
                              "type": "string"
                            },
                            "machine": {
                              "type": "string"
                            },
                            "value": {
                              "type": "string",
                              "description": "Masked by default. Present as a private key only when a create/reveal response explicitly returns it."
                            },
                            "data": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "meta": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "created": {
                              "type": "string",
                              "format": "date-time",
                              "nullable": true
                            },
                            "modified": {
                              "type": "string",
                              "format": "date-time",
                              "nullable": true
                            }
                          },
                          "additionalProperties": true
                        }
                      ]
                    },
                    "created": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    },
                    "modified": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    },
                    "image": {
                      "type": "string",
                      "nullable": true
                    },
                    "cpu": {
                      "type": "integer",
                      "nullable": true
                    },
                    "ram": {
                      "type": "integer",
                      "nullable": true,
                      "description": "Memory in GB."
                    },
                    "disk": {
                      "type": "integer",
                      "nullable": true,
                      "description": "Disk in GB."
                    },
                    "hostname": {
                      "type": "string",
                      "nullable": true
                    },
                    "public_address": {
                      "type": "string",
                      "format": "ipv6",
                      "nullable": true,
                      "description": "The public IPv6 address for direct network access."
                    },
                    "ssh_host": {
                      "type": "string",
                      "nullable": true
                    },
                    "ssh_port": {
                      "type": "integer",
                      "minimum": 1,
                      "maximum": 65535
                    },
                    "ssh_uri": {
                      "type": "string",
                      "nullable": true,
                      "example": "root@mch-abc.layerbrain.cloud"
                    },
                    "ssh_key": {
                      "type": "string",
                      "nullable": true,
                      "description": "Private SSH key returned only when explicitly revealed."
                    },
                    "networks": {
                      "type": "array",
                      "items": {
                        "oneOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "object": {
                                "type": "string",
                                "example": "network"
                              },
                              "ports": {
                                "type": "array",
                                "items": {
                                  "type": "object"
                                }
                              }
                            },
                            "additionalProperties": true
                          }
                        ]
                      }
                    },
                    "gpu": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "label": {
                          "type": "string",
                          "nullable": true
                        },
                        "model": {
                          "type": "string",
                          "nullable": true
                        },
                        "count": {
                          "type": "integer",
                          "nullable": true
                        },
                        "memory_gb": {
                          "type": "integer",
                          "nullable": true
                        }
                      },
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "id",
                    "object",
                    "organization",
                    "type",
                    "state",
                    "name",
                    "created",
                    "modified"
                  ],
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "tags": [
          "Machines"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Path parameter: id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
[...]
